@import "variables";
@mixin renderGrid($size, $margin) {
  @if ($size == "sm") {
    .wide {
      margin: 0 auto;
      // max-width: 540px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -#{$margin}px;
      margin-right: -#{$margin}px;
    }

    .row.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: #{$margin}px;
      padding-right: #{$margin}px;
    }

    .row.no-gutters .col {
      padding-left: 0;
      padding-right: 0;
    }

    .col-#{$size}-0 {
      display: none;
    }

    .col-#{$size}-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-#{$size}-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-#{$size}-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-#{$size}-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-#{$size}-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-#{$size}-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-#{$size}-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-#{$size}-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-#{$size}-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-#{$size}-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-#{$size}-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-#{$size}-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  } @else if ($size == "md") {
    .wide {
      margin: 0 auto;
      max-width: 720px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -#{$margin}px;
      margin-right: -#{$margin}px;
    }

    .row.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: #{$margin}px;
      padding-right: #{$margin}px;
    }

    .row.no-gutters .col {
      padding-left: 0;
      padding-right: 0;
    }

    .col-#{$size}-0 {
      display: none;
    }

    .col-#{$size}-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-#{$size}-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-#{$size}-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-#{$size}-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-#{$size}-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-#{$size}-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-#{$size}-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-#{$size}-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-#{$size}-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-#{$size}-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-#{$size}-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-#{$size}-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  } @else if ($size == "lg") {
    .wide {
      margin: 0 auto;
      max-width: 960px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -#{$margin}px;
      margin-right: -#{$margin}px;
    }

    .row.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: #{$margin}px;
      padding-right: #{$margin}px;
    }

    .row.no-gutters .col {
      padding-left: 0;
      padding-right: 0;
    }

    .col-#{$size}-0 {
      display: none;
    }

    .col-#{$size}-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-#{$size}-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-#{$size}-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-#{$size}-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-#{$size}-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-#{$size}-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-#{$size}-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-#{$size}-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-#{$size}-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-#{$size}-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-#{$size}-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-#{$size}-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  } @else if ($size == "xl") {
    .wide {
      margin: 0 auto;
      max-width: 1140px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -#{$margin}px;
      margin-right: -#{$margin}px;
    }

    .row.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: #{$margin}px;
      padding-right: #{$margin}px;
    }

    .row.no-gutters .col {
      padding-left: 0;
      padding-right: 0;
    }

    .col-#{$size}-0 {
      display: none;
    }

    .col-#{$size}-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-#{$size}-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-#{$size}-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-#{$size}-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-#{$size}-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-#{$size}-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-#{$size}-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-#{$size}-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-#{$size}-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-#{$size}-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-#{$size}-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-#{$size}-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  } @else if ($size == "xxl") {
    .wide {
      margin: 0 auto;
      max-width: 1320px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -#{$margin}px;
      margin-right: -#{$margin}px;
    }

    .row.no-gutters {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: #{$margin}px;
      padding-right: #{$margin}px;
    }

    .row.no-gutters .col {
      padding-left: 0;
      padding-right: 0;
    }

    .col-#{$size}-0 {
      display: none;
    }

    .col-#{$size}-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    .col-#{$size}-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    .col-#{$size}-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .col-#{$size}-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .col-#{$size}-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .col-#{$size}-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-#{$size}-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    .col-#{$size}-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    .col-#{$size}-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .col-#{$size}-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    .col-#{$size}-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    .col-#{$size}-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@mixin reset {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
  }
}

@mixin bgColor($key, $color) {
  .bg-#{$key} {
    background-color: $color;
    background-clip: content-box;
  }
}

@mixin textAlign($value) {
  .text-#{$value} {
    text-align: $value;
  }
}

@mixin fullSize {
  width: 100%;
  height: 100%;
}

@mixin fixedFull {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: $text-color;
  border-radius: 2px;
  height: 34px;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 450;
  background-color: $white-color;
  padding: 8px 16px;
}

@mixin margin($direction, $value) {
  @if ($direction == top) {
    .mt-#{$value} {
      margin-top: #{$value}px;
    }
  } @else if ($direction == right) {
    .mr-#{$value} {
      margin-right: #{$value}px;
    }
  } @else if ($direction == bottom) {
    .mb-#{$value} {
      margin-bottom: #{$value}px;
    }
  } @else if ($direction == left) {
    .ml-#{$value} {
      margin-left: #{$value}px;
    }
  }
}

@mixin padding($direction, $value) {
  @if ($direction == top) {
    .pt-#{$value} {
      padding-top: #{$value}px;
    }
  } @else if ($direction == right) {
    .pr-#{$value} {
      padding-right: #{$value}px;
    }
  } @else if ($direction == bottom) {
    .pb-#{$value} {
      padding-bottom: #{$value}px;
    }
  } @else if ($direction == left) {
    .pl-#{$value} {
      padding-left: #{$value}px;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flexEnd {
  display: flex;
  justify-content: end;
  align-items: center;
}

@mixin setWH($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin textColor($colorName, $value) {
  .text-#{$colorName} {
    color: $value;
  }
}

@mixin bb {
  border-bottom: 1px solid $border-color;
}

@mixin ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin category-link($order) {
  @if ($order == 1) {
    background-color: #87afd8;
  } @else if ($order == 2) {
    background-color: #76c9bd;
  } @else if ($order == 3) {
    background-color: #88cf81;
  }
}

@mixin text-decoration($value) {
  .text-#{$value} {
    text-decoration: $value;
  }
}

@mixin fontSize($name, $value) {
  .fz-#{$name} {
    font-size: $value;
  }
}
@mixin textTransform($value) {
  .text-#{$value} {
    text-transform: $value;
  }
}
