$primary-color: #f1582b;
$black-color: #000;
$white-color: #fff;
$text-color: #333;
$border-color: #ccc;
// $border-color: #dbdbdb;
$bg-color: #f5f5f5;
$bg-header: linear-gradient(to bottom, #f53d2d, #f63);
$color-sub: #666;
$subText-color: #999;
$rating-color: #ffce3d;
$heart-color: #f63d30;
$sale-off-color: rgba(255, 216, 64, 0.94);
$header-height: 56px;
$header-sort-input-height: 45px;
$container-mt: $header-height + $header-sort-input-height;
$line-height: 2rem;
$fz-ss: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.5rem;
$fz-lg: 1.6rem;
