@import "mixins";
@import "variables";

@include bgColor("primary", $primary-color);

@include bgColor("color", $bg-color);

@include textAlign(center);

@include textColor("white", white);
@include textColor(primary, $primary-color);
@include textColor(color, $text-color);
@include textColor(subText, $subText-color);
.btn {
  @include btn;
  &.btn-primary {
    background-color: $primary-color;
    color: $white-color;
    font-weight: 400;
    &:hover {
      opacity: 0.8;
    }
  }

  &.btn-disable {
    cursor: no-drop;
    opacity: 0.6;
  }

  & + .btn {
    margin-left: 12px;
  }
}

@keyframes slideTop {
  0% {
    top: 0;
    // opacity: 0;
  }
  100% {
    top: 100%;
    // opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
