@import "mixins";
@import "variables";

.grid {
  // position: relative;
  // overflow: hidden;
  width: 100%;
}

@include renderGrid("sm", 4);

@media screen and (min-width: 768px) {
  @include renderGrid("md", 8);
}

@media screen and (min-width: 992px) {
  @include renderGrid("lg", 5);
  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lg-9-6 {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  @include renderGrid("xl", 5);
  .col-xl-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (min-width: 1400px) {
  @include renderGrid("xxl", 5);
}
