@import "mixins";
@import "variables";
@import "base.scss";
@include reset;

// Header

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: linear-gradient(to bottom, #f53d2d, #f63);
}

// Header Top
.header-top__lg {
  display: none;
}
.header-top {
  position: relative;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #f53d2d, #f63);
}

.header-top__btn--search {
  @include flexCenter;
  @include setWH($header-height);
  cursor: pointer;
}

.header-top__cart {
  position: relative;
  @include flexCenter;
  @include setWH($header-height);
  padding-right: 10px;
  cursor: pointer;
}

.header-top__btn--search-icon,
.header-top__cart--icon {
  font-size: 24px;
}

.header-top__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-top__logo-img {
  width: 110px;
}

.header-top__cart--quantity-product {
  @include flexCenter;
  position: absolute;
  right: 9px;
  top: 7px;
  font-size: 15px;
  @include setWH(10px);
  background-color: $primary-color;
  border-radius: 50%;
  padding: 8px 10px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

// Header top search input
.header-top__search {
  position: absolute;
  @include flexBetween;
  width: inherit;
  // left: 0;
  height: $header-sort-input-height;
  background-color: #fff;
  @include bb;
  z-index: 2;
  animation: slideTop 0.6s;
  box-shadow: 0 0.5px 4px rgba(51, 51, 51, 0.2);
  border-radius: 2px;
  display: none;
}
.header-top__search--input {
  @include flexStart;
  flex: 1;
  height: 100%;
}
.header-top__search--input input {
  outline: none;
  border: none;
  flex: 1;
  font-size: $fz-lg;
  padding: 10px 12px;
}
.header-top__search--btn {
  margin-right: 12px;
}
.header-top__search--btn-checkbox:checked ~ .header-top__search {
  display: flex;
}

// Header top cart list
.header-top__cart--list {
  display: none;
  position: fixed;
  top: 56px;
  right: 0;
  height: 63%;
  width: 100%;
}

// cart empty
.header-top__cart--empty {
  @include flexCenter;
  flex-direction: column;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 70px;
  background-color: $white-color;
  @include bb;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.cart--empty-img {
  max-width: 300px;
  object-fit: cover;
}

.cart--empty-desc {
  display: block;
  padding: 20px 0;
  font-size: $fz-lg;
}

.header-top__cart--list.cart--empty .header-top__cart--empty {
  display: flex;
}

.header-top__cart--list.cart--empty .cart-product {
  display: none;
}

// Cart product list
.cart-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $white-color;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 1px 5px #999;
  animation: fadeIn 0.5s ease-in-out;
}
.cart-product__wrap {
  position: relative;
}
.header-top__cart--icon-wrap {
  @include setWH(100%);
  @include flexCenter;
}

.header-top__cart:hover .header-top__cart--list {
  display: flex;
}

.cart-product__header {
  display: block;
  height: $header-sort-input-height;
  padding: 0 15px;
  font-size: $fz-lg;
  line-height: $header-sort-input-height;
  font-weight: 400;
  background-color: $white-color;
  @include bb;
}
.cart-product__list {
  overflow: auto;
  list-style-type: none;
  max-height: 36vh;
  flex: 1;
}
.cart-product__list--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.cart-product__list--item:hover {
  background-color: rgba(204, 204, 204, 0.2);
}
.cart-product__list--item__img {
  @include setWH(80px);
  border: 1px solid #cac6c646;
  object-fit: contain;
}
.cart-product__list--item__desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  font-size: $fz-lg;
  height: 80px;
}
.cart-product__list--item__desc--name {
  max-height: 4rem;
  line-height: 2rem;
  font-size: $fz-sm;
  font-weight: 450;
  @include ellipsis(2);
}
.cart-product__list--item__desc--classify {
  font-size: $fz-sm;
}
.cart-product__list--item__price-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: $fz-sm;
  height: 60px;
}
.price-wrap__price_quantity {
  display: flex;
  align-items: flex-end;
  line-height: 2rem;
}
.price-wrap__price {
  font-weight: 600;
}
.multiply {
  padding: 0 3px;
  font-size: 1.2rem;
}

.btn__product--delete {
  font-size: $fz-md;
  align-self: flex-end;
  padding: 10px;
}

.cart-product__btn {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: $white-color;
  padding: 15px;
}

// Sort header
.header-sort {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: $header-sort-input-height;
  background-color: $white-color;
  @include bb;
  z-index: 1;
}

.header-sort__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;
}

.header-sort__item {
  position: relative;
  flex: 1;
  width: 100%;
  font-size: $fz-sm;
  font-weight: 500;
  height: 100%;
  @include flexCenter;
  cursor: pointer;
}

.header-sort__item:first-child::before {
  display: none;
}

.header-sort__item::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid $border-color;
  height: 60%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-sort__item.text-active {
  color: $primary-color;
}

// Main containter

.container {
  margin-top: $container-mt;
}

.category-mobile {
  padding: 7px 0;
}
.category-mobile__list {
  overflow-x: auto;
  @include flexStart;
}
.category-mobile__list::-webkit-scrollbar {
  display: none;
}
.category-mobile__item {
  margin-left: 4px;
}
.category-mobile__item--link {
  display: block;
  width: 110px;
  padding: 4px 2px;
  line-height: $line-height;
  min-height: calc(2 * $line-height);
  font-size: $fz-sm;
  color: $white-color;
  background-color: #88cf81;
  border-radius: 2px;
  font-weight: 400;
  @include ellipsis(2);
  padding: 0 6px;
}
.category-mobile__item:nth-child(3n + 1) .category-mobile__item--link {
  @include category-link(1);
}
.category-mobile__item:nth-child(3n + 2) .category-mobile__item--link {
  @include category-link(2);
}
.category-mobile__item:nth-child(3n + 3) .category-mobile__item--link {
  @include category-link(3);
}

// category main
.category-main {
  overflow: hidden;
  padding: 0 4px;
}
.category-main__home-filter {
  display: none;
}
.category-main__item {
  background-color: $white-color;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  transform: translateY(1px);
}
.category-main__item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.category-main__item--image {
  padding-top: 100%;
  background-image: url("https://cf.shopee.vn/file/3d8bfe08ab18619434f933e54be393d0_tn");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.category-main__item--desc-wrap {
  padding: 0 10px;
}

.category-main__item--name {
  margin: 10px 0;
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  @include ellipsis(2);
}
.category-main__item--price-original {
  display: inline-block;
  margin-right: 10px;
}
.category-main__item--action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 0;
}
.category-main__item--action.liked .category-main__item--like {
  display: block;
}
.category-main__item--action.liked .category-main__item--no-like {
  display: none;
}
.category-main__item--action .category-main__item--like {
  display: none;
  color: $heart-color;
}
.category-main__item--rating {
  font-size: 1rem;
}
.category-main__item--rating i.rating-active {
  color: $rating-color;
  opacity: 1;
}
.category-main__item--sales-quantity {
  margin-left: 8px;
  font-weight: 450;
}
.category-main__item--origin {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.category-main__item--favorite {
  position: absolute;
  top: 10px;
  background-color: $primary-color;
  line-height: 1.6rem;
  padding: 2px 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: 450;
  font-size: 1.2rem;
  left: -4px;
}
.category-main__item--favorite i {
  font-size: 0.9rem;
  padding-right: 2px;
}
.category-main__item--favorite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid invert($primary-color, 25);
  border-left: 3px solid transparent;
}
.category-main__item--sale-off {
  position: absolute;
  top: 0;
  right: 0;
  @include setWH(40px, 36px);
  background-color: $sale-off-color;
  @include flexAround;
  flex-direction: column;
  border-top-right-radius: 2px;
}
.category-main__item--sale-off::before {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 0 20px 4px;
  border-color: transparent $sale-off-color;
  border-style: solid;
}
.category-main__item--sale-percent {
  font-weight: bolder;
  font-size: 1.2rem;
}
.category-main__item--sale-span {
  font-size: 1.3rem;
  font-weight: bolder;
}
// Pagination
.category-main__pagination {
  width: 100%;
  @include flexCenter;
  margin: 35px 0 20px;
}
.category-main__pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: $fz-md;
  color: $color-sub;
  border-radius: 2px;
  margin: 0 12px;
}
.category-main__pagination a.active:hover {
  opacity: 0.7;
}
.category-main__pagination a.active {
  background-color: $primary-color;
  color: $white-color;
}
.category-main__pagination a.disable {
  cursor: no-drop;
  opacity: 0.6;
}
// Footer
.footer {
  padding-top: 20px;
  background: $white-color;
  border-top: 4px solid $primary-color;
}
.footer__content {
  padding-bottom: 50px;
}
.footer__content--header {
  margin: 20px 0 10px 0;
}
.footer__content--list {
  padding-bottom: 10px;
}
.footer__content--item:hover {
  cursor: pointer;
  color: $primary-color;
}
.socials {
  @include flexCenter;
}
.socials .footer__content--item {
  font-size: 2rem;
  margin: 0 3px;
}

.footer__download {
  @include flexCenter;
}
.footer__download--QR {
  @include setWH(80px);
  object-fit: contain;
  border: 1px solid $border-color;
  margin-right: 10px;
}
.footer__download--app {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.footer__download--googlePlay,
.footer__download--appStore {
  height: 20px;
  object-fit: cover;
}

.footer__bottom {
  // height: 20px;
}
.footer__bottom--text {
  padding: 10px;
}
