// medium device
@media screen and (min-width: 768px) {
  .header-top__logo {
    order: 1;
  }
  .header-top__btn--search {
    order: 2;
  }
  .header-top__cart {
    order: 3;
  }
  .header-top__search {
    display: flex;
    top: 5px;
    z-index: 11;
    flex: 1;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
  .header-top__search--input {
    width: 50%;
  }
  .cart-product__header {
    border-bottom: none;
  }
  .category-main__pagination a {
    font-size: 1.8rem;
  }
}
// large device
@media screen and (min-width: 992px) {
}
// xl
@media screen and (min-width: 1200px) {
}
// xxl
@media screen and (min-width: 1400px) {
}
