.wide {
  margin: 0 auto;
  max-width: 540px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.col-sm-0 {
  display: none;
}

.col-sm-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-sm-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-sm-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-sm-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-sm-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-sm-12 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

@media screen and (min-width: 768px) {
  .wide {
    margin: 0 auto;
    max-width: 720px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }
  .row.no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-0 {
    display: none;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (min-width: 992px) {
  .wide {
    margin: 0 auto;
    max-width: 960px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-0 {
    display: none;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (min-width: 1200px) {
  .wide {
    margin: 0 auto;
    max-width: 1140px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xl-0 {
    display: none;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}
@media screen and (min-width: 1400px) {
  .wide {
    margin: 0 auto;
    max-width: 1320px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xxl-0 {
    display: none;
  }
  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xxl-12 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

/*# sourceMappingURL=grid.css.map */
